.container {
    display: flex;

}

.main {
    background-color: #F3F3F3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.subMain {
    width: 86%;
    max-width: 1440px;
}

/* --------header--------- */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.search {
    width: 404px;
    height: 44px;
    background-color: white;
    display: flex;
    padding-left: 14px;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search input {
    border: none;
    font-size: 20px;
    width: 85%;
}

.search input:focus {
    border: none;
    outline: none;


}

.search img {
    width: 22px;
}



/* ------data container--------- */
.dataContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.dataContainer img {
    width: 360px;
}

.data {
    width: 404px;
    display: grid;
    gap: 16px;


}

.data * * {
    margin-left: 23px;
}

.data * {
    position: relative;

}

.data * h2 {
    font-size: 17px;
    font-weight: 600;
}

.data * h3 {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    right: 13px;
    bottom: 0px;
    letter-spacing: 2px;

}

.data * p {
    font-size: 13px;
    margin-top: -10px;
}

.balance {
    background-color: white;
    width: 404px;
    grid-row: 1;
    grid-column: 1/3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    height: 141px;

}


.expense,
.income {
    width: 195px;
    grid-row: 2;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    height: 141px;
}



.income {
    grid-column: 1;
}

.expense {
    grid-column: 2;
}

/* -----transaction------ */
.transaction {
    margin-top: 36px;
}

.transaction h2 {
    font-size: 15px;
}

table {
    text-align: center;
    font-size: 15px;
}

th {
    color: #C2CDD3;

}

th:nth-child(1) {
    width: 69px;
}

th:nth-child(2) {
    width: 132px;
}

th:nth-child(3) {
    width: 215px;
}

th:nth-child(4) {
    width: 218px;
}

th:nth-child(5) {
    width: 155px;
}

th:nth-child(6) {
    width: 100px;
}

td {
    background-color: white;
    height: 55px;
}

@media (max-width:1100px) {
    .dataContainer img {
        width: 300px;
    }


}

@media (max-width:1000px) {
    .dataContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data {
        margin-left: 80px;
    }

}

@media (max-width:600px) {
    .data {

        gap: 5px;


    }

    .balance {
        width: 80%;
    }

    .expense,
    .income {
        width: 75%;
    }

    .expense {
        margin-left: -32px;
    }

    .search {
        width: 150px;
        padding-left: 0px;
    }

    .search input {
        font-size: 15px;
        width: 70%;
    }
}

@media (max-width:500px) {
    .container {
        display: flex;
        flex-direction: column;


    }

    .subMain {
        width: 95%;
    }

    .mainImg img {
        width: 300px;
        margin-top: 20px;

    }

    .dataContainer {
        margin-top: 20px;

    }
}