.container {
    position: relative;
    height: 256px;
    width: 256px;
    border-radius: 34px;
    padding: 25px;
    background-color: #041B92;

}



.container h3 {
    text-align: center;
}
.container p{
    position:absolute;
    top: 95px;
    right: 25px;
    left: 25px;
}
.profil {
    position: absolute;
    bottom: 17px;
    right: 20px;
}

.stars {
    position: absolute;
    bottom: 31px;
}
@media(max-width:500px) {
    .container p {
        font-size: 0.7em;

    
    }
    .profil {
        display: none;
    }

}