.container {
    position: relative;
    height: 250px;
    width: 240px;
    border-radius: 34px;
    padding: 25px;
    background-color: #041B92;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}



.container h3 {
    text-align: center;
}
.container p{
    position:absolute;
    top: 95px;
    right: 25px;
    left: 25px;
}
.profil {
    position: absolute;
    bottom: 17px;
    right: 20px;
}

.stars {
    position: absolute;
    bottom: 31px;
}
@media(max-width:500px) {
    .container p {
        font-size: 0.7em;

    
    }
    .profil {
        display: none;
    }

}