footer {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: black;
}

.footer {
    width: 86%;
    max-width: 1440px;
    text-align: center;
}

.logo {
    width: 75px;
    margin: 30px;
}

.socialMedia  {
    width: 37px;
    
}
li{
    display: inline-block;
    margin-right: 33px;
    margin-bottom: 13px;
}
.footer a{
    cursor: pointer;
}