main {
    background-image: url("Expensrol_image/Sign in.svg");
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;

}

.container {
    width: 86%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
}

.data {
    display: flex;
    flex-direction: column;

    align-items: end;
}

.data h1 {
    margin-top: 40px;
    margin-bottom: 26px;
    text-align: right;
}

.data p {
    margin-bottom: 54px;
}

.data input {
    width: 317px;
    height: 55px;
    border-radius: 8px;
    margin-top: 37px;
    margin-bottom: 6px;
    display: block;
    padding-left: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.data input:focus{
    outline: none;
    border: none;
    
}

.links {
    display: block;
    font-size: 13px;
    margin-bottom: 31px;
    color: #213ABB;
    font-weight: 500;
    text-decoration: none;
    text-align: right;
}

.links:hover {
    text-decoration: underline;
}

.data button {
    width: 193px;
    height: 50px;
    font-size: 17px;
    margin-bottom: 84px;
}

.image {
    display: flex;
    align-items: center;
}

.image img {
    width: 522px;
    margin-right: 115px;
}

/* margin-right: 115px; */
@media (max-width:1100px) {

    .container {
        width: 95%;
    }
}

@media (max-width:1000px) {

    .image img {
        width: 400px;
    }
}

@media (max-width:850px) {
    main {
        background-image: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
    }

    .image {
        display: flex;
        justify-content: center;
    }



}

@media (max-width:550px) {

    .image img {
        display: none;
    }

    .data {
        align-items: center;
    }

}