.submain {
    width: 100%;

    display: flex;
    justify-content: center;
    background-color: #213ABB;
}

.main {
    width: 86%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 154px;

}

.main img {
    height: 154px;
}

@media (max-width:750px) {
    .main img {
        display: none;
    }
}

@media (max-width:500px) {
    .main {
        width: 95%;
        height: 80px;
        text-align: center;
    }
    .main h2{
        font-size: 20px;
    }
}