body {
    margin: 0px;
    cursor: default;
}

.whiteText {
    color: white;
}

.blueText {
    color: #213ABB;
}

.extraBold {
    font-weight: 800;
}

button {
    background-color: #213ABB;
    color: white;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #2143ed;
    cursor: pointer;
}

.custom-link {
    color: white;
    text-decoration: none;
}

.custom-link2 {
    color: #213ABB;
    text-decoration: none;
}
.custom-link3 {
    color: #151515;
    text-decoration: none;
}